.profdet{
  display: flex;
  border:box-border;
  padding-left: 3vw;
  padding-top: 1rem;
  font-family: "Playfair Display", serif;
}

.profdet .prof {
  height: 20vw;
  width: 40vw;
  background-color: white;
  background-image: url(Capgemini.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2vw;
  margin-right: 3vw;
}

.profdet .prof .profhov{
    height: 20vw;
    display: inline-block;
    font-family: "Playfair Display", serif;
    font-size: 2vw;
    text-align: center;
    opacity: 0;
    position: absolute;

}


.profdet .prof .profhov:hover{
    opacity: 50;
}


.profdet .prof1 {
  padding-left: 8vw;
  padding-top: 2vw;
   height: 18vw;
  width: 40vw;
  background-color: white;
  background-image: url(igate.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 2vw;
}
.profdet .prof1 .profhov{
    display: inline-block;
    height: 18vw;
    font-family: "Playfair Display", serif;
    font-size: 2vw;
    text-align: center;
    opacity: 0;
    position: absolute;

}

.profdet .prof1 .profhov:hover{
    opacity: 50;
}

@media only screen and (max-width: 500px)
{
  .profdet
  {
    flex-direction: column;

  }

  .profdet .prof
  {
    flex-direction: column;
    width: 100%;

  }
  .profdet .prof1
  {
    flex-direction: column;
    width: 90%;

  }
  .profdet .prof .profhov:hover
  {
    font-size: 5vw;
  }
 .profdet .prof1 .profhov:hover
  {
    font-size: 5vw;
  }
}